.profile {
  text-align: center;
  margin-top: 50px;
}

.profile-pic {
  width: 150px;         
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #333;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
